.header{
    display: flex;
    height: 60px;
    width: 100%;
    background-color: #303f9f;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    box-shadow: 0 5px 10px rgb(179, 179, 179);
}

.header__name{
    margin-left: 1rem;
    padding: 5px;
    color: white;
}

.header__signIn{
    margin-right: 1rem;
    /* border: 1px solid white;
    border-radius: 3rem;
    bo */
    color: white;
}